<!--etiqueta doctype o tipo de documento-->
<!DOCTYPE html>

<!--extension del archivo-->
<html lang="en">

<!--encabezado-->    
<head>
   <!--metadatos--> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- enlace de los iconos con la fuente de google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- enlace para los estilos en css  -->
    <link rel="stylesheet" href="../css/Estilos.css">
    <link rel="stylesheet" href="../css/EstilosResponsiveMedyaquery.css.css">
    <link rel="stylesheet" href="../css/estiloServicios.css">
   
    <!--nombre de la pestaña de la pagina-->
    <title> Veterinaria Patitas de amor </title>
</head>

<!--cuerpo de la pagina-->
<body>
    <!--maquetación = esqueleto-->
    <!--encabezado-->
    <header> 
        <!--etiqueta  div caja -->
        <div class="menu-principal"> <!-- DIV PADRE-->
            <!-- hijo 1 -->
            <div class="logo">
                <!-- agregar una imagen = imagen del logo -->
                <img src="../img/Pet Care Center Logo Template - Hecho con PosterMyWall.png" alt="">
            </div>

            <!-- hijo 2 LISTA DE OPCIONES --> 
            <div class="menu-bar " id="menu-bar">
                <!-- nav para el menu de opciones -->
                <nav class="enlaces">
                    <!-- listas UL ul -->
                    <ul>
                        <!-- el UL nunca va solo siempre lo acompaña un LI -->
                        <li> <a href="">servicio</a> </li>
                        <li> <a href="">Producto</a> </li>
                        <li> <a href="">Guardería</a> </li>
                        
                        
                    </ul>
                </nav>   
                 <!--hijo 3 Redes sociales  -->
                <div class="sociales">
                    <!-- clases de los materiales de iconos -->
                    <a href=""> <samp class="material-icons">whatsapp</samp> </a>
                    <a href=""> <samp class="material-icons">facebook</samp> </a>
                    <a href=""> <samp class="material-icons">telegram</samp> </a>
                    <a href=""> <samp class="material-icons">duo</samp> </a>
                   
                </div>
            </div>
            <!-- etiqueta para iconos hijo 3 -->
            <i class="material-icons" id="btnMenuOpen" value="true">menu</i>

        </div> 
    

    </header>

    <!--menu de los servicios  -->
    <!-- llave id del menu servicios -->
    <section id="menu-servicios">
       
        <div class="contenedor-principal">

            <div class="slider">
                <!-- contenedor servicio numero 1 -->
                <div class="container-servicios">
                    
                    <div class="descriccion-servicios">

                        <!-- descripción del servicio  -->

                        <h2>servicios de <b>vacunación</b></h2>
                        <h1>Veterinaria P...... de Amor </h1>
                        <p>La vacunación como rama de la Medicina Preventiva, 
                         es una de las armas más eficaces y seguras 
                         que tenemos para prevenir enfermedades.
                          En otras palabras, cuando vacunamos a nuestras mascotas 
                         prevenimos enfermedades infecciosas, y conferimos
                          inmunidad. 
                        </p>

                        

                        <!-- botón de citas o compras  -->
                        
                        <!-- botón de compra o agendar cita -->
                        <button class="btn">Agendar tu cita aquí <span 
                        class="material-icons">label_important
                        </span></button>
                    </div>  
                    
                    <div class="imagen-cervicios">
                        <img src="../img/vacuna222.png" alt="">
                    </div>
    

                </div>


                <!-- contenedor del servicio 2  -->
                <div class="container-servicios"> 
                    
                    <div class="descriccion-servicios">

                        <!-- descripción del servicio  -->

                        <h2>servicio de <b>Guardería</b></h2>
                        <h1>Veterinaria P...... de Amor</h1>
                        <p>Estos lugares son espacios perfectos 
                           para que tu peludo tenga la oportunidad de socializar
                           y hacer amigos y más cuando tu perro sufre de ansiedad por
                           separación.
                           Su salud también es importante, por lo tanto recibirá su dosis
                           de ejercicio diario correspondiente a su edad y tamaño.
                        </p>

                        

                        <!-- botón de citas o compras  -->
                        
                        <!-- botón de compra o agendar cita -->
                        <button class="btn">Inscribe a tu mascota aquí <span 
                        class="material-icons">label_important
                        </span></button>
                    </div>  
                    
                    <div class="imagen-cervicios">
                        <img src="../img/guarderia333.png" alt="">
                    </div>
    

                </div>


                <!-- contenedor servicio 3 -->
                <div class="container-servicios">
                    
                    <div class="descriccion-servicios">

                        <!-- descripción del servicio  -->

                        <h2>servicio de  <b>tienda online</b></h2>
                        <h1>Veterinaria P...... de Amor </h1>
                        <p>Aquí podrás encontrar todo tipo de productos necesarios para el cuidado
                            personal de tu mascota, asi también como accesorios de vestuario,
                            juguetearía y mucho mas, vamos animate recuerda que lo hacemos por 
                            su bienestar. 
                        </p>

                        

                        <!-- botón de citas o compras  -->
                        
                        <!-- botón de compra o agendar cita -->
                        <button class="btn">comprar Aquí <span 
                        class="material-icons">label_important
                        </span></button>
                    </div>  
                    
                    <div class="imagen-cervicios">
                        <img src="../img/suministros-mascotas-2222.png" alt="">
                    </div>
    

                </div>

                <!-- contenedor formulario -->
                <div class="container-servicios">
                                    
                    <div class="descriccion-servicios">

                        <!-- descripción del servicio  -->

                        <h2>Contacta  <b>con nosotros</b></h2>
                        <h1>Veterinaria P...... de Amor </h1>
                        <p>Tomemos un café y hablemos del bienestar de tu amigo peludo o emplumado. 
                        </p>

                        

                        <!-- formulario  -->
                        <form>
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre">
                            <input class="form-control" type="text" name="celular" placeholder="Número celular">
                            <input class="form-control" type="text" name="correo" placeholder="Correo">
                            <select class="form-control">
                                <option value="">--> Selecciona <--</option>
                                <option value="can">Canino/a</option>
                                <option value="michi">Felino/a</option>
                                <option value="plumas">Emplumado/a</option>
                            </select>
                            <textarea class="form-control" type="text" name="mensaje" placeholder="Deja un mensaje."></textarea>
                            
                            <button class="btn">Enviar<span 
                            class="material-icons">label_important
                            </span></button>
                        </form>

                        <!-- botón de compra o agendar cita -->
                    </div>  
                    
                    <div class="imagen-cervicios">
                        <img src="../img/calldog.jpeg" alt="">
                    </div>


                </div>






               


            </div>

        </div>

    </section>
    
    <script src="../js/App.js"></script>
</body>


</html> 
